@model MvcOnlineTicariOtomasyon.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Personel Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("PersonelGuncelle", "Personel", FormMethod.Post))
{
    @Html.HiddenFor(x => x.PersonelId)
    @Html.LabelFor(x => x.PersonelAd, "Personel Adı")
    @Html.TextBoxFor(x => x.PersonelAd, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonelSoyad, "Personel Soyad")
    @Html.TextBoxFor(x => x.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.PersonelGorsel, "Personel Görsel")
    @Html.TextBoxFor(x => x.PersonelGorsel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Departman, "Personel Departman")
    @Html.DropDownListFor(x => x.DepartmanId, (List<SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    <br />

    <button class="btn btn-warning">Güncelle</button>
}

